extends layout

block content
  h1= title
  form(name="add-estimation", method="post")
    div.input
      span.label Time
      input(type="text", name="time")
    div.actions
      input(type="submit", value="add")
