extends layout

block content
    h1= title
    form(name="add-estimation", method="post", enctype="multipart/form-data")
        div.input
            span.label MP3
            input(type="file", name="mp3")
        div.actions
            input(type="submit", value="Upload!")
